mixin kanban-generator(categories, todos)
  - for (let i=0; i<categories.length; i++) {
    .c-column-field__category
      .c-column-field__category__header
        span(class="c-text-basic") #{categories[i]}
      .c-column-field__category__body
        +todo-kanban(todos[i])
  - }

mixin todo-kanban(todos)
  - for (var i=0; i<todos.length; i++) {
    .c-column-field__category__body__kanban.js-prevent-window-scroll
      span(class="c-text--basic") #{todos[i].title}
      p(class="c-text--small") #{todos[i].contents[0].description}
      button(class='open-edit-modal c-button--small' data-todo=todos[i]) Edit
      form(method="post", action="/todoLists/"+todos[i]._id+"?_method=DELETE")
        input(type="hidden" name="id" value=todos[i]._id)
        input(type="submit" class="c-button--small" value="Del")
  - }

mixin category-select(array)
  p Category:
  select(name='categoryName')
    - for (let i=0; i<array.length; i++) {
      option(name=array[i])= array[i]
    - }
