mixin todo-contents(category)
  - for (var i=0; i<category.length; i++) {
    .todoLists-content(draggable=true)
      h3 #{category[i].todo}
      p #{category[i].description}
      button(class='open-edit-modal' data-todo=category[i]) Edit
      form(method="post", action="/todoLists/"+category[i]._id+"?_method=DELETE")
        .save-button
          input(type="hidden" name="id" value=category[i]._id)
          input(type="submit" value="del")
  - }

mixin category-select(array)
  p Category
  select(name='category')
    - for (let i=0; i<array.length; i++) {
      option(name=array[i])= array[i]
    - }

mixin todoLists-generator(categories, todos)
  - for (let i=0; i<categories.length; i++) {
    .todoLists-categories
      .categories-header
        p #{categories[i]}
      .categories-body
        +todo-contents(todos[i])
  - }
