mixin kanban-generator(categories, todos)
  - for (let i=0; i<categories.length; i++) {
    .todoLists-categories
      .categories-header
        p #{categories[i]}
      .categories-body
        +todo-kanban(todos[i])
  - }

mixin todo-kanban(todos)
  - for (var i=0; i<todos.length; i++) {
    .todoLists-content(draggable=true)
      h3 #{todos[i].title}
      p #{todos[i].contents[0].description}
      button(class='open-edit-modal c-button' data-todo=todos[i]) Edit
      form(method="post", action="/todoLists/"+todos[i]._id+"?_method=DELETE")
        .save-button
          input(type="hidden" name="id" value=todos[i]._id)
          input(type="submit" class="c-button" value="del")
  - }

mixin category-select(array)
  p Category:
  select(name='categoryName')
    - for (let i=0; i<array.length; i++) {
      option(name=array[i])= array[i]
    - }
