mixin sidebar-link-generator(array)
  - for (let i of array) {
    a(href="#" class="c-anchor c-anchor--blue") #{i}
  - }

mixin kanban-generator(categories, todos)
  - for (let i=0; i<categories.length; i++) {
    .c-column-field__category
      .c-column-field__category__header
        span(class="c-text--basic") #{categories[i]}
      .c-column-field__category__body
        +todo-kanban(todos[i])
  - }

mixin todo-kanban(todos)
  - for (var i=0; i<todos.length; i++) {
    .c-kanban(data-todo=todos[i]).js-prevent-window-scroll.u-clearfix
      span(class="c-text--basic") #{todos[i].title}
      p(class="c-text--small") #{todos[i].contents[0].description}
      button(class='js-modal--edit__open c-button c-button-size--small' data-todo=todos[i]) Edit
      form(method="post", action="/todoLists/"+todos[i]._id+"?_method=DELETE")
        input(type="hidden" name="id" value=todos[i]._id)
        input(type="submit" class="c-button c-button-size--small" value="Del")
  - }

mixin category-select(array)
  p Category:
  select(name='categoryName')
    - for (let i=0; i<array.length; i++) {
      option(name=array[i])= array[i]
    - }
