<% include ../shared/header %>

<% include ../shared/headerBar %>

<div class="service-body">
  <div class="todoLists-headliner">
    <div class="headliner-title">
      <p>todoLists</p>
    </div>
    <%# <input type="button" value="Create new" onClick="location.href='/todoLists/new'" class="create-btn">%>
    <button id="open-create-modal" class="create-btn">Create new</button>
  </div>
  <div class="container">
    <div class="todoLists-sidebar">
      <p>Concierge U</p>
      <p>Home chores</p>
      <p>etc</p>
    </div>
    <div class="todoLists-container">
      <div class="todoLists-optionals">
        <a href="#">osakabe</a>
        <a href="#">taguchi</a>
        <a href="#">fkoji</a>
      </div>
      <div class="todoLists-field">
        <div class="todoLists-categories">
          <div class="categories-header">
            <p>due today</p>
          </div>
          <div class="categories-body">
            <% for (var i=0; i<todoLists.length; i++) {%>
              <div class="todoLists-content">
                <h3>
                  <%= todoLists[i].todo %>
                </h3>
                <p><%= todoLists[i].description %></p>
                <a href="/todoLists/<%= i %>/edit">edit</a>
                <form method="post" action="/todoLists/<%= i %>?_method=DELETE">
                <div class="save-button">
                  <input type="hidden" name="id" value="<%= todoLists[i]._id %>">
                  <input type="submit" value="del">
                </div>
                </form>
              </div>
            <% } %>
          </div>
        </div>
        <div class="todoLists-categories">
          <div class="categories-header">
            <p>have bullet</p>
          </div>
        </div>
        <div class="todoLists-categories">
          <div class="categories-header">
            <p>waited bullet</p>
          </div>
        </div>
        <div class="todoLists-categories">
          <div class="categories-header">
            <p>other bullet</p>
          </div>
        </div>
        <div class="todoLists-categories">
          <div class="categories-header">
            <p>done soldier</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="modal-bg" class="modals"></div>
<div id="modal-field" class="modals">
  <div id="create-todo" class="modals">
    <h1>Create new todo</h1>
    <div class="create-todo-body">
      <form method="post" action="/todoLists/create">
      <p>title:</p>
      <input type="text" name="todo" placeholder="put title here">
      <p>body:</p>
      <textarea name="description" rows="4" cols="80" placeholder="what are you supposed to do?"></textarea></br>
      <div class="save-button">
        <input type="submit" value="保存"><input type="reset" value="リセット">
      </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/index.js"></script>

<%include ../shared/footer %>


<%# TODO 編集のモーダルは右から出てくる感じに。参考：salesforce%>
